* {
    margin: 0;
    padding: 0;
}

nav {
    background-image: linear-gradient(120deg,black, rgb(87, 88, 145));
    padding: 20px 0 20px 0;
} 

.socials {
    display: inline-block; 
    text-decoration: none;
    font-weight: 700;
    text-align: center;
}

.links {
    text-decoration: none;
    color: rgb(255,255,255);
    margin-right: 10px;


}

.links:hover {
    color: rgb(0, 0, 0)
}

.links:visited {
    text-decoration: none;
}

main {
    background-image: linear-gradient(20deg,black, rgb(146, 147, 204));
    height: 100vh;
    color: rgb(255,255,255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
}

.btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff;
}

.btn:hover {
    background-color: rgb(29, 75, 94);
    box-shadow:100px;
}

#resultado {
    background-color: rgb(31,31,31);
    width: 214px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: rgba(255, 255, 255);
    text-align: right;
    padding: 5px;
}

@media (max-height: 600px) and (orientation: landscape) {
    main {
        height: 130vh;
    }

    .calculadora {
        top: 70%
    }
}

@media (min-width: 1200px) and (max-height: 400px){
    .btn {
        width: 35vw;
        height: 35vw;
    }

    #resultado {
        width: 61vw;
        height: 15vw;
    }
}
